.header {
  display: block;
  width: 100%;
  height: 62px;

  .header__logo {
    text-align: center;
    height: 62px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .right-gnb {
    position: absolute;
    right: 12px;
    top: 0;
    height: 62px;
    line-height: 62px;
  }
}

.header__menu {
  display: flex;
  align-items: center;
  margin-right: auto;
  width: 107px;
  height: 62px;
  margin-left: 12px;

  &::before {
    content: "";
    margin-right: 8px;
    width: 20px;
    height: 20px;
    background: url(/img/mdi_hamburger-menu.svg) no-repeat center/ cover;
    display: inline-block;
  }
}

.header__login {
  width: 85px;
  height: 36px;
  line-height: 36px;
  padding: 8px 16px;
  color: #080410;
  text-align: center;
  border-radius: 24px;
  border: 2px solid #17191d;

  &:hover {
    color: #fff;
    background-color: #07f;
    border-color: #07f;
    transition: all 0.5s;
  }
}

.right-icon {
  &1,
  &2,
  &3 {
    margin-right: 8px;
  }
}

.nav {
  position: relative;
  height: 100px;
  width: 100%;
  border-top: 1px solid black;
  .header__ul {
    // display: flex;
    width: 900px;
    margin-left: 125px;

    li:last-child .nav__text{
      color: #566cf3;
    }

    li {
      display: inline-block;
      width: 100px;
    }
    li a {
      font-size: 16px;
      color: #0b0b0c;
      display: inline-block;
      line-height: 100px;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0;
        background: #04e45f;
        padding-right: 20px;
        margin-left: -10px;
        transition: all 0.5s;
      }

      &:hover::after {
        height: 2px;
      }
    }

    .nav__text {
      position: relative;
    }

    .--strong {
      position: absolute;
      top: 0px;
      left: -6px;
    }
  }
}

.nav__logo {
  width: 65px;
  height: 44px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 40px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.nav .--flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  height: 100%;
}

.btn__cs {
  &::after {
    content: "";
    position: absolute;
    height: 45px;
    top: 50%;
    transform: translateY(-50%);
    right: 240px;
    box-sizing: border-box;
    text-align: right;
    z-index: 3;
    background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/sprite_210600.png);
    background-position: 0px -340px;
    width: 177px;
    height: 42px;
  }
}

.btn__start {
  position: absolute;
  width: 260px;
  height: 100px;
  right: 0;
  top: 0;
  background: url(//ssl.nexon.com/s2/game/fc/online/obt/gamestart/bg_gamestart.png)
    right 0 no-repeat;
  background-position: 0 0;
  overflow: hidden;
  z-index: 0;
}

.slide__menu {
  position: relative;
  z-index: 1;
  height: 100%;
  background-color: #fff;
  overflow: hidden;

  .wrap {
    margin-left: 125px;
  }

  ul {
    clear: both;
    overflow: hidden;
    padding-bottom: 32px;



    li {
      float: left;
      text-align: left;
      padding-top: 30px;
      height: 100%;
      box-sizing: border-box;
      margin-right: 4px;
      // margin-left: 4px;

      a {
        display: block;
        font-size: 11px;
        width: 100px;
        line-height: 23px;
        position: relative;

        .--strong {
          position: absolute;
          top: 0px;
          left: -6px;
        }
      }
    }
  }
}
