.main {
  width: 100%;
  height: auto;
}

.top__banner {
  margin-top: 100px;
  height: 120px;
  background: url(/img/bg_home_status.jpg) no-repeat center;
  position: relative;

  .top__banner__text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    > p {
      font-size: 18px;
      font-weight: 600;
      color: #fff;
      line-height: 1.5;
    }
  }
}

.main__banner {
  width: 100%;
  height: 640px;
  // background: url(/img/main__visual_0.jpg) no-repeat center;
  // background-size: cover;
  position: relative;
}




.banner__nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 200px;
  z-index: 999;

  ul {
    li {
      height: 73px;
      line-height: 73px;
      text-align: center;
      border-bottom: 1px solid #e6e6e9;
      width: 120px;
      background: #fff;
      font-size: 16px;
      box-sizing: border-box;
      border-left: 1px solid #e6e6e9;

      a {
        color: #3e3d55;
        &:hover {
          font-weight: bold;
          color: #07c9a0;
        }
      }
    }
  }

  @mixin moveIcon($scale) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scaleX($scale);
    width: 20px;
    height: 20px;
    background: url(/img/arrow-move.svg) no-repeat center;
  }

  .left--move {
    @include moveIcon(1); // degree를 180deg로 수정
  }

  .right--move {
    @include moveIcon(-1); // degree를 0deg로 수정
  }

  .banner__move {
    margin-top: 12px;
    height: 60px;
    background-color: #393854;
    display: flex;

    button {
      width: 50%;
      position: relative;
    }

    button:nth-child(1) {
      border-right: 1px solid #fff;
    }
  }
}

.main__banner .swiper {
  width: 100%;
    height: 100%;
    // background: url(/img/main__visual_0.jpg) no-repeat center;
    // background-size: cover;
    position: relative;
}

.main__banner .swiper .wrap {
  width: 100%;
}

.main__banner .swiper-slide > a {
  display: block;
}

.main__banner .swiper-slide>a .wrap  {
  margin: 0 auto;
  height: 640px;
  box-sizing: border-box;
  position: relative;
}

.main__banner .swiper-slide >a .wrap img{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.main__banner .swiper-slide > .left__text .wrap img {
  left: 70px;
  transform: translate(0%, -50%);
}
