html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: black;
}

button {
  border: 0;
  background: transparent;
  padding: 0;
}

.header {
  display: block;
  width: 100%;
  height: 62px;
}
.header .header__logo {
  text-align: center;
  height: 62px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.header .right-gnb {
  position: absolute;
  right: 12px;
  top: 0;
  height: 62px;
  line-height: 62px;
}

.header__menu {
  display: flex;
  align-items: center;
  margin-right: auto;
  width: 107px;
  height: 62px;
  margin-left: 12px;
}
.header__menu::before {
  content: "";
  margin-right: 8px;
  width: 20px;
  height: 20px;
  background-color: lightgray;
  display: inline-block;
}

.header__login {
  width: 85px;
  height: 36px;
  line-height: 36px;
  padding: 8px 16px;
  color: #080410;
  text-align: center;
  border-radius: 24px;
  border: 2px solid #17191d;
}
.header__login:hover {
  color: #fff;
  background-color: #07f;
  border-color: #07f;
  transition: all 0.5s;
}

.right-icon1, .right-icon2, .right-icon3 {
  margin-right: 8px;
}

.nav {
  position: relative;
  height: 100px;
  width: 100%;
  border-top: 1px solid black;
}
.nav ul {
  display: flex;
}
.nav li {
  width: 138px;
}
.nav li a {
  position: relative;
  font-size: 18px;
  color: #0b0b0c;
  display: inline-block;
  line-height: 100px;
}

.nav__logo {
  width: 65px;
  height: 44px;
  background-color: aliceblue;
}

.nav .--flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  height: 100%;
}

.btn__cs::after {
  content: "";
  position: absolute;
  height: 45px;
  top: 50%;
  transform: translateY(-50%);
  right: 240px;
  box-sizing: border-box;
  text-align: right;
  z-index: 3;
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/sprite_210600.png);
  background-position: 0px -340px;
  width: 177px;
  height: 42px;
  width: 177px;
}

.btn__start {
  position: absolute;
  width: 260px;
  height: 99px;
  right: 0;
  top: 0;
  background: url(//ssl.nexon.com/s2/game/fc/online/obt/gamestart/bg_gamestart.png) right 0 no-repeat;
  background-position: 0 0;
  overflow: hidden;
  z-index: 2;
}

.main {
  width: 100%;
  height: auto;
}

.top__banner {
  margin-top: 100px;
  height: 120px;
  background-color: gray;
  position: relative;
}
.top__banner .top__banner__text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.top__banner .top__banner__text > p {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  line-height: 1.5;
}

.main__banner {
  width: 100%;
  height: 640px;
  background: url(/img/main__visual_0.jpg) no-repeat center;
  background-size: cover;
  position: relative;
}

.banner__nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 200px;
}
.banner__nav ul li {
  height: 73px;
  line-height: 73px;
  text-align: center;
  border-bottom: 1px solid #e6e6e9;
  width: 120px;
  background: #fff;
  font-size: 16px;
  box-sizing: border-box;
  border-left: 1px solid #e6e6e9;
}
.banner__nav ul li a {
  color: #3e3d55;
}
.banner__nav ul li a:hover {
  font-weight: bold;
  color: #07c9a0;
}
.banner__nav .left--move {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scaleX(1);
  width: 20px;
  height: 20px;
  background: url(/img/arrow-move.svg) no-repeat center;
}
.banner__nav .right--move {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scaleX(-1);
  width: 20px;
  height: 20px;
  background: url(/img/arrow-move.svg) no-repeat center;
}
.banner__nav .banner__move {
  margin-top: 12px;
  height: 60px;
  background-color: #393854;
  display: flex;
}
.banner__nav .banner__move button {
  width: 50%;
  position: relative;
}
.banner__nav .banner__move button:nth-child(1) {
  border-right: 1px solid #fff;
}
html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

.--flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
