@import "reset";
@import "header";
@import "main";
@import "middle";
@import "common";

html,
body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

.inner {
  width: 1440px;
  margin: 0px auto;
}

.--flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.--strong {
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: $main-color;
  border-radius: 50%;
}

.--main-color {
  color: #04e45f;
}

.desc {
  max-height: 84px;
  font-size: 14px;
  color: #3e3d55;
  margin-top: 14px;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

// header
